/*GENERAL*/
body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding-bottom: 75.3px;
    position: relative;

  }
  main {
    width: 100vw;
    margin: 0 auto;
    padding: 30px 0px;

  }

  li.text-danger{
      font-size: 20px;
  }

  
/*HEADER*/
.logo_title, .logo_title::after, .logo_title:hover{
    font-variant: small-caps;
    color:#669900;
    letter-spacing: 1px;
    font-size: 45px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.title h1{
    color: #000000;
    font-variant: small-caps;
    margin: 20px 0px 50px 0px;
}

/*MAIN NAVIGATION*/
.navbar, .dropdown-menu{
    background-color:#FF9900!important;
} 
a.dropdown-item:hover{
    color: #000000!important;
    background-color: #FFFFFF!important;
}


.navbar a{
    font-size: 28px;
    color: #ffffff!important;
} 

.navbar a:hover{
    font-size: 28px;
    color: #000000!important;
} 

a:hover{
    text-decoration: none!important;
}


/*CATEGORY NAVIGATION*/
.cat-bar{
    width:100%;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.cat-bar .cat-bar-item{
    padding:16px 16px;
    float: left;
    color: #000000;
    font-size: 28px;
}
hr.bar-end{
    border-top: 2px solid#669900;
    margin-top: 0px;
}


/*FORMS*/

label{
    color: #669900;
    font-weight: 600;
    font-size: 20px;
}

legend{
   font-size: 24px!important;
}

.invalid-feedback{
    font-size:18px!important;
    display: flex!important; /*makes the error message visible for the CKeditor*/
}

select,
select option {
    color: #000000!important;
}


/* select:invalid, */
#id_country > option[value=""],
#id_default_country > option[value=""] {
    color: #aab7c4  !important;
}


.btn{
    border: 2px solid #FF9900!important;
    color: #000000!important;
    font-size: 20px!important;
}

.btn-outline-success.edit{
    border: 2px solid #669900!important;
    color: #669900!important;
} 
.btn-outline-danger.delete{
    border: 2px solid #dc3545!important;
    color: #dc3545!important;
} 

.btn-outline-success.edit, .btn-outline-danger.delete{
    font-size: 1.2rem!important;
    background-color: #ffffff;
    padding: 1px 6px;
} 

.btn-outline-success:hover, .btn-outline-success:focus-within{
    color: #ffffff!important;
    background-color: #669900!important;
}


.btn-outline-danger:hover, .btn-outline-danger:focus-within{
    color: #ffffff!important;
    background-color: #dc3545!important;
}


.btn:hover, .btn:focus-within{
    color: #ffffff!important;
    background-color: #FF9900!important;
}

button.form-control{
    background-color: #FF9900;
    border: none;
}

#id_image.form-control{
    border: none;
    padding-left: 0px;
}

.form-group{
    margin-bottom: 30px!important;
}

.error-msg{
    color: #ff0000;
}


select#id_default_country.lazyselect.option{
    background-color: #669900;
}

input.form-control{
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-size: 18px;
}
#id_goal, #id_end_date, #id_amount_pledged{
    border-bottom: 1px solid #000000;
    border-radius: 0px;
}

input, select, textarea, input.ElementsApp input.InputElement, p.text-muted {
    font-size: 18px;
  }

.form-control:focus, .textinput.form-control:focus, .emailinput.form-control:focus{
    border: none!important;
    border-bottom: 2px solid #669900!important;
    box-shadow: none!important;
}


.textinput.form-control, .emailinput.form-control{
    border: none!important;
    border-bottom: 1px solid #000000!important;
    box-shadow: none!important;
    border-radius: 0;
}

#cke_id_description, #cke_id_backers_story_option1, #cke_id_backers_story_option2, #cke_id_backers_story_option3{
    width: 100%!important;
}

html body p{
	font-size: 20px!important;
}



/*STRIPE*/

.StripeElement {
    box-sizing: border-box;
  
    height: 40px;
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

 


/*PROJECT DETAILS*/

.fa-coins, .fa-question-circle, .fa-exclamation-circle{
    color:#FF9900!important;
}
.mobile-detail-image{
    width: 450px;
    height: 250px!important;
    margin-bottom: 20px;
}

.detail_title{
    font-size: 30px;
    font-weight: bold;
}
.progressbar-text{
    font-size: 26px;
}
a.button.secondaryAction{
    font-size: 23px;
}

p.subtext_black.finish_line, .fa-envelope{
    color: #669900!important;
}


.expired{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: #FF9900;
}


.maintext-cat {
    font-size: 28px;
    color: #000000!important;
    font-style: italic;
}

.sub-cat{
    font-size: 28px;
    color: #000000!important;
}

.detail_info{
    display: grid;
    grid-template-columns: 10fr;
    /* grid-column-gap: 50px; */
}

h2{
    font-size: 26px!important;
}

.orange_line{
    border-top: 2px solid #FF9900;
    margin-top: 0px;
}

.footer hr.orange{
    border-top: 0.5px solid #FF9900;
    margin-top: 0px;
}


.footer_detail a{
    margin-bottom: 0px;
    color: #696969!important;
    font-size: 18px;
}

.footer_row{
    margin-bottom: 0;
}

.footer {
    padding: 20px;
    bottom: 0;
    width: 100%;
    position: absolute;
  }

  .coin_image{
      height: 300px;
      width: 150px;
      float: left;
  }

  .div_form{
    padding-left: 80px!important;
  }
  .main_div{
      position: relative!important;
      min-height: 200px!important;
  }

  .main_coin_image{
    /* margin-top: 100px; */
    padding: 20px;
    bottom: 0;
    position: absolute!important;
  }
#st-1 .st-btn[data-network='sharethis'] {
    background-color: #669900!important;
}

/*HOME - PROJECTS PAGE*/
.project_title{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
a.project_title:hover{
    text-decoration: none!important;
}

.variable_title{
    height: 40px!important;
}

.variable_description{
    height: 180px;
}

.subtext, .results, .progressbar-text{
    font-size: 16px;
    color: #6f6f6f;
    font-variant: small-caps;
}

.subtext_black{
    font-size: 16px;
    font-variant: small-caps;
}

.grid, .details {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  width: 30%;
}

.progress{
    height: 2rem!important;
    border: 2px solid #669900!important;
    background-color: #ffffff!important;
}
.progress-bar{
    background-color: #669900!important;
    font-size: 20px;
}

.progress-section{
    top: 50%;
}

.img-fluid{
    width: 333.66px;
    height: 187.68px!important;
}


.new_projects{
    background-color: rgba(66, 99, 00, 0.20);
    margin-bottom: 0;
}

.new_projects_title{
    border: 2px solid #FF9900;
    font-variant: small-caps;
}

.title_cat{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}




/*FOOTER*/
/*PAYMENT_PAGE*/


/*PAYMENT SUCCESS*/
.green_block{
    background-color: #669900;
    color: #ffffff;
    font-variant: small-caps;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 500;
    padding: 50px 20px;
}

.green_block img{
    margin-left: -130px;
    margin-top: -160px;
}

.pay-success{
    margin-top: 200px;
}
.project_success{
    color:#FF9900
}

/*PROJECT CATEGORIES*/


.category.progress-section{
    width: 200px;
    margin-left: 100px;
}

/*DATA TABLES*/
#myTable.table.fixed th {
  visibility: hidden;
}


.card{
    border: none!important;
}

#myTable_wrapper, #myHistoryTable_wrapper{
    margin: auto;
}

#myTable.table.fixed {table-layout:fixed; width:100%;}/*Setting the table width is important!*/

#myHistoryTable.table.fixed {table-layout:fixed; width:100%;}/*Setting the table width is important!*/

#myProjectsTable.table.fixed {table-layout:fixed; width:100%;}/*Setting the table width is important!*/
#searchProjectsTable.table.fixed {table-layout:fixed; width:100%;}/*Setting the table width is important!*/

td {
    font-size: 24px!important;
}

td.space-divider{
    padding-top: 30px!important;
}




/*MEDIA QUERIES*/
@media(min-width:1024px) {
  .delivery_seperator {
    display:none;
  }

  td {
    font-size: 20px!important;
}
    input, select, textarea, input.ElementsApp input.InputElement, p.text-muted {
    font-size: 18px!important;
  }

  .mobile-detail-image{
    width: 333.66px;
    height: 187.68px!important;
}
.image-margin{
    margin-right: 20px;
}
.detail_info{
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 30px;
}
.reward_title{
    display: none;
}
html body p{
	font-size: 16px!important;
}

}




@media(min-width:1097px) {
.variable_description{
    height: 100px;
}

.detail_info{
    grid-column-gap: 100px;
}

.grid-item{
    margin-right: 30px!important
}


}

@media(min-width:1366px) {
    a.button.secondaryAction{
    font-size: 20px;
}
#cke_id_description, #cke_id_backers_story_option1, #cke_id_backers_story_option2, #cke_id_backers_story_option3{
    width: 112%!important;
}
  .mobile-detail-image{
    width: 450px;
    height: 250px!important;
}

}

@media(min-width:1400px) {
    a.button.secondaryAction{
    font-size: 20px;
}
#cke_id_description, #cke_id_backers_story_option1, #cke_id_backers_story_option2, #cke_id_backers_story_option3{
    width: 128%!important;
}

}

