/*GENERAL*/
body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding-bottom: 75.3px;
    position: relative;

  }
  main {
    width: 100vw;
    margin: 0 auto;
    padding: 30px 0px;

  }

  li.text-danger{
      font-size: 20px;
  }
  p {
      font-size:24px;
  }
  
/*HEADER*/
.logo_title, .logo_title::after, .logo_title:hover{
    font-variant: small-caps;
    color:#669900!important;
    letter-spacing: 1px;
    font-size: 45px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.title h1{
    color: #000000!important;
    font-variant: small-caps;
    margin: 20px 0px 50px 0px;
}

/*MAIN NAVIGATION*/
.navbar, .dropdown-menu{
    background-color:#FF9900!important;
} 
a.dropdown-item:hover{
    color: #000000!important;
    background-color: #FFFFFF;
}


.navbar a{
    font-size: 28px;
    color: #ffffff!important;
} 

a:hover{
    text-decoration: none!important;
}


/*CATEGORY NAVIGATION*/
.cat-bar{
    width:100%;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.cat-bar .cat-bar-item{
    padding:16px 16px;
    float: left;
    color: #000000!important;
    font-size: 28px;
}
hr.bar-end{
    border-top: 2px solid#669900;
    margin-top: 0px;
}


/*FORMS*/

label{
    color: #669900;
    font-weight: 600;
    font-size: 28px!important;
}

legend{
   font-size: 28px!important;
}

.invalid-feedback{
    font-size:18px!important;
}

select,
select option {
    color: #000000!important;
}


select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}


.btn{
    border: 2px solid #FF9900!important;
    color: #000000!important;
    font-size: 28px!important;
}

.btn-outline-success.edit{
    border: 2px solid #669900!important;
    color: #669900!important
} 

.btn-outline-success.edit, .btn-outline-danger.delete{
    font-size: 1.2rem!important;
    background-color: #ffffff;
} 

.btn-outline-success:hover, .btn-outline-success:focus-within{
    color: #ffffff!important;
    background-color: #669900!important;
}


.btn:hover, .btn:focus-within{
    color: #ffffff!important;
    background-color: #FF9900!important;
}

button.form-control{
    background-color: #FF9900;
    border: none;
}

#id_image.form-control{
    border: none;
    padding-left: 0px;
}

.form-group{
    margin-bottom: 30px!important;
}

.error-msg{
    color: #ff0000;
}

select#id_default_country.lazyselect.option{
    background-color: #669900;
}

input.form-control{
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-size: 24px;
}

input, select, textarea, input.ElementsApp input.InputElement, p.text-muted {
    font-size: 24px!important;
  }

.form-control:focus, .textinput.form-control:focus, .emailinput.form-control:focus{
    border: none!important;
    border-bottom: 2px solid #669900!important;
    box-shadow: none!important;
}


.textarea.form-control:focus{
    border: 2px solid #669900!important;
    box-shadow: none!important;
}

.textinput.form-control, .emailinput.form-control{
    border: none!important;
    border-bottom: 1px solid #000000!important;
    box-shadow: none!important;
}

/*STRIPE*/

.StripeElement {
    box-sizing: border-box;
  
    height: 40px;
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

 


/*PROJECT DETAILS*/

.fa-coins, .fa-question-circle, .fa-exclamation-circle{
    color:#FF9900!important;
}

.description {
    font-size: 24px!important;
}
.detail_title{
    font-size: 30px;
    font-weight: bold;
}
.subtext, .progressbar-text{
    font-size: 26px;
}
p.results, a.button.secondaryAction{
    font-size: 23px;
}

p.subtext.finish_line, .fa-envelope{
    color: #669900!important;
}


.expired{
    font-size: 20px;
    font-style: italic bold;
    color: #FF9900;
}

.maintext {
    font-weight: bold;
    font-size: 28px;
    color: #000000!important;
}

.sub-cat{
    font-size: 28px;
    color: #000000!important;
}

.detail_info{
    margin: 60px 10px 0px 40px;
}

h2{
    color: #000000!important;
}

.orange_line{
    border-top: 2px solid #FF9900;
    margin-top: 0px;
}

.footer hr.orange{
    border-top: 0.5px solid #FF9900;
    margin-top: 0px;
}


.footer_detail a{
    margin-bottom: 0px;
    color: #696969!important;
    font-size: 18px;
}

.footer_row{
    margin-bottom: 0;
}

.footer {
    padding: 20px;
    bottom: 0;
    width: 100%;
    position: absolute;
  }

  .coin_image{
      height: 300px;
      width: 150px;
      float: left;
  }

  .div_form{
    padding-left: 80px!important;
  }
  .main_div{
      position: relative!important;
  }

  .main_coin_image{
    padding: 20px;
    bottom: 0;
    position: absolute!important;
  }


/*HOME - PROJECTS PAGE*/
.progress{
    height: 2rem!important;
    border: 2px solid #669900!important;
    background-color: #ffffff!important;
}
.progress-bar{
    background-color: #669900!important;
    font-size: 20px;
}

.progressbar-text, .subtext{
    color: #000000!important;
    font-style: italic;
}

.progress-section{
    top: 50%;
}

.new_projects{
    background-color: rgba(66, 99, 00, 0.20);
    margin-bottom: 0;
}

.new_projects_title{
    border: 2px solid #FF9900;
    font-variant: small-caps;
}

.new_projects_title h2{
    font-size: 32px;
}


.img-fluid{
    /* max-width: 100%; */
    width: 333.66px;
    height: 187.68px!important;
    /* margin-top: 30px; */
}

/*FOOTER*/
/*PAYMENT_PAGE*/
.project_title{
    color: #669900!important;
    font-size: 20px;
}

/*PAYMENT SUCCESS*/
.green_block{
    background-color: #669900;
    color: #ffffff;
    font-variant: small-caps;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 500;
    padding: 50px 20px;
}

.green_block img{
    margin-left: -130px;
    margin-top: -160px;
}

.pay-success{
    margin-top: 200px;
}
.project_success{
    color:#FF9900
}

/*PROJECT CATEGORIES*/


.category.progress-section{
    width: 200px;
    margin-left: 100px;
}

/*DATA TABLES*/
#myTable.table.fixed th {
  visibility: hidden;
}


.card{
    border: none!important;
}

#myTable_wrapper, #myHistoryTable_wrapper{
    margin: auto;
}

#myTable.table.fixed {table-layout:fixed; width:100%;}/*Setting the table width is important!*/

#myHistoryTable.table.fixed {table-layout:fixed; width:100%;}/*Setting the table width is important!*/

#myProjectsTable.table.fixed {table-layout:fixed; width:100%;}/*Setting the table width is important!*/
td {
    font-size: 24px!important;
}

/*MEDIA QUERIES*/
@media(min-width:1024px) {
  .delivery_seperator {
    display:none;
  }

}