{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row no-gutters">
  <div class= "col-12 details mt-5">
    <div class="offset-3 col-6 offset-lg-2 col-lg-4 image-margin align-items-center">
      {% if project.image %}
      <img class="mobile-detail-image" src="{{ project.image.url }}" alt="project image">
      {% else %}
      <img class="mobile-detail-image" src="{% static 'img/No-image-available.png' %}" alt="no image available">
      {% endif %}
    </div>
    <!-- project details -->
    <div class="offset-3 col-6 offset-lg-0 col-lg-4">
      <div class="title_cat">
        <h2 class="project_title">{{ project.title }}</h2>
        <a href="{% url 'per_category' project.category %}" target="_blank">
          <p class="subtext"><i>{{ project.category }}</i></p>
        </a>
      </div>
      <div class="progress progress-section">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width:{{project.percentage}}%">
          {{ project.percentage }}%
        </div>
      </div>
      {% if project.percentage < 12 %}
      <h4 class="progress-label">{{project.percentage}} % raised</h4>
      {% endif %}
      <p class="subtext_black mt-3">raised: ${{ project.raised }} <i class="fas fa-coins"></i></p>
      <div class="title_cat">
        <p class="subtext_black">end goal: ${{project.goal}}</p>
        {% if project.raised >= project.goal %}
        <p class="subtext_black finish_line">This project has reached its goal!</p>
        {% endif%}
      </div>
      {% if project.num_days > 0 %}
      <p class="subtext_black">
        {{ project.num_days }} days left &nbsp;&nbsp;&nbsp;&nbsp; {{ project.views }} views &nbsp;&nbsp;&nbsp;&nbsp;
        <!-- ability to ask the host a question -->
        <a href="mailto:{{ project_user.email }}?subject=GrowingFunds%20project:%20{{project.title.split|join:'%20'}}" title="Email the project owner for questions">
        <i class="fas fa-envelope fa-lg float-right mt-2"></i>
        </a>
      </p>
      <!-- ShareThis button BEGIN -->
      <div class="sharethis-inline-share-buttons"></div>
      <!-- ShareThis END -->
      {% else %}
      <!-- if the end date of the project has been reached -->
      <p class="expired">This project has expired &nbsp;&nbsp;&nbsp;&nbsp; {{ project.views }} views</p>
      {% endif%}
    </div>
  </div>
</div>
<div class="row no-gutters justify-content-center text-center mb-5">
  <div class="offset-6 col-3 col-xl-2  mx-auto">
    <!-- the pledge button only visible when the project is not expired -->
    {% if project.num_days > 0 %}
    {% if request.user.is_authenticated %}
    <a href="{% url 'checkout' project.id %}" class="btn mt-5">
    Back this Project
    </a>
    {% else %}
    <a href="{% url 'account_login' %}" class="btn mt-5">
    Back this Project
    </a>
    {% endif %}
    {% endif%}
  </div>
</div>
<hr class="mt-5">
<div class="row no-gutters">
  <div class="col-9 offset-2 detail_info">
    <!-- project story -->
    <div>
      <h2 class="project_title">Project Description</h2>
      <p class="description">{{ project.description|safe|linebreaks }}</p>
    </div>
    <div class="align-items-baseline">
      <h2 class="project_title reward_title">Reward</h2>
      <h3 class="subtext_black">Reward Option 1:</h3>
      <p class="description">{{ project.backers_story_option1|safe|linebreaks }}</p>
      <h3 class="subtext_black">Reward Option 2:</h3>
      <p class="description">{{ project.backers_story_option2|safe|linebreaks }}</p>
      <h3 class="subtext_black">Reward Option 3:</h3>
      <p class="description">{{ project.backers_story_option3|safe|linebreaks }}</p>
    </div>
  </div>
</div>
{% endblock %}