{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row no-gutters">
		<div class="col-12 title text-center">
            <!--Heading Form-->
            <h1>Category: {{projects.category}}</h1>	
		</div>
	
        <div class="col-11 detail_info">
            <h2>Taking off in this category</h2>
            <hr class="orange"></hr>
            {% for project in projects|dictsortreversed:"percentage"|slice:"0:1"%}
                {% if project.num_days > 0 %}
                <div class="col-12">
                    <div class="col-6 mx-auto text-center mt-5">
                        {% if project.image %}
                        <a href="{% url 'project_detail' project.id %}" target="_blank">
                            <img class="img-fluid mb-3" src="{{MEDIA_URL}}{{ project.image }}">
                        </a>
                        {% else %}
                        <a href="{% url 'project_detail' project.id %}" target="_blank">
                            <img class="img-fluid mb-3" src="{% static 'img/No-image-available.png' %}" alt="no image available">
                        </a>
                        {% endif %}
                        <a href="{% url 'project_detail' project.id %}" target="_blank">
                            <h3 class="maintext">{{ project.title}}</h3>
                        </a>

                        <div class="col-6 mx-auto text-center mt-5">
                            <div class="category progress progress-section mx-auto text-center">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width:{{project.percentage}}%">
                                    {{ project.percentage }} %
                                </div>
                            </div>
                            <p class="progressbar-text">{{ project.num_days }} days left</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-11 detail_info">
            <h2>Most Viewed in this category</h2>
            <hr class="orange"></hr>
            {% for project in projects|dictsortreversed:"views"|slice:"0:1"%}
                {% if project.num_days > 0 %}
                <div class="col-12">
                    <div class="col-6 mx-auto text-center mt-5">
                        {% if project.image %}
                        <a href="{% url 'project_detail' project.id %}" target="_blank">
                            <img class="img-fluid mb-3" src="{{MEDIA_URL}}{{ project.image }}">
                        </a>
                        {% else %}
                        <a href="{% url 'project_detail' project.id %}" target="_blank">
                            <img class="img-fluid mb-3" src="{% static 'img/No-image-available.png' %}" alt="no image available">
                        </a>
                        {% endif %}

                        <a href="{% url 'project_detail' project.id %}" target="_blank">
                            <h3 class="maintext">{{ project.title}}</h3>
                        </a>

                        <div class="col-6 mx-auto text-center mt-5">
                            <div class="category progress progress-section mx-auto text-center">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width:{{project.percentage}}%">
                                    {{ project.percentage }} %
                                </div>
                            </div>
                            <p class="progressbar-text">{{ project.views }} views</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="col-11 detail_info">
        <h2>Other projects in this category <span  class=" order right"> from Newest to Oldest</span></h2>
        <hr class="orange"></hr>
        {% for project in projects|dictsortreversed:"created_date" %}
            {% if project.num_days > 0 %}
                <div class="row no-gutters">
                        <div class="offset-1 col-4 mb-5 ">
                            {% if project.image %}
                            <a href="{% url 'project_detail' project.id %}" target="_blank">
                                <img class="img-fluid mt-5" src="{{MEDIA_URL}}{{ project.image }}">
                            </a>
                            {% else %}
                            <a href="{% url 'project_detail' project.id %}" target="_blank">
                                <img class="img-fluid mt-5" src="{% static 'img/No-image-available.png' %}" alt="no image available">
                            </a>
                            {% endif %}
                        </div>
                        <div class="offset-1 col-6 mt-5">
                            <a href="{% url 'project_detail' project.id %}" target="_blank">
                                <h3 class="maintext">{{ project.title}}</h3>
                            </a>
                            <p class="subtext">{{ project.category }}</p>
                            <p>{{ project.description |truncatewords:60}}</p>
                            <p class="subtext mb-5">goal: ${{project.goal}} &nbsp&nbsp&nbsp&nbsp  ends in: {{ project.num_days }} days</p>
                        </div>
                </div>
            {% endif %}
        {% endfor%}
    </div>
</div>   

<footer class="footer mt-5">
    <div class="row no-gutters offset-3 footer_row">
        <div class="col-6">
            <p class="footer_detail"><i class="fas fa-question-circle"></i>   Questions?</p>
        </div>
        <div class="col-6">
            <p class="footer_detail"><i class="fas fa-exclamation-circle"></i>   Report Misuse</p>
        </div>            
    </div>
    <hr class="orange col-6"></hr>  
</footer>
{% endblock %}
