{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-12 title text-center">
            <!--Heading Form-->
            <h1>Your Project</h1>	
		</div>
	</div>
    	<div class="row no-gutters">
		    <div class="col mx-auto main_div">
                <div class="col-2 main_coin_image">
                    <img class="coin_image" src="{% static 'img/growing_coins.png' %}" alt="GrowingFunds logo">
                </div>
                <div class="col-9 mx-auto  div_form">
                    <!--Start project Form-->
                    <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <!--Code for the ckeditor-->
                        {{ form.media }}
                        {{ form|crispy }}
                    
                        <div> 
                            <button type="submit" class="btn float-right">Publish</button>
                        </div>
                    </form>
                    <!--Code for the ckeditor-->
                    {{ project.description|safe }}
                    {{ project.backers_story_option1|safe }}
                    {{ project.backers_story_option2|safe }}
                    {{ project.backers_story_option3|safe }}
                </div>
	
            </div>
	    </div>
    
</div>
  
{% endblock %}