{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-12 title text-center">
            <!--Heading Form-->
            <h1>Start Project</h1>	
		</div>
	</div>
    	<div class="row no-gutters">
		    <div class="col mx-auto main_div">
                <div class="col-2 main_coin_image">
                    <img class="coin_image" src="{% static 'img/growing_coins.png' %}">
                </div>
                <div class="col-9 mx-auto  div_form">
                    <form role="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <fieldset class="rounded px-3 mb-5">
                            {{ form.title | as_crispy_field }}
                            {{ form.image | as_crispy_field }}
                            {{ form.category | as_crispy_field }}
                            {{ form.description | as_crispy_field }}
                            {{ form.backers_story_option1 | as_crispy_field }}
                            {{ form.backers_story_option2 | as_crispy_field }}
                            {{ form.backers_story_option3 | as_crispy_field }}
                            {% if request.path == '/projects/new/'%}
                                {{ form.goal | as_crispy_field }}
                                {{ form.end_date | as_crispy_field }}
                                {{ form.conditions | as_crispy_field }}
                            { %else  %}
                            {% endif %}
                        </fieldset>

                        <div> 
                            <button type="submit" class="btn float-right">Publish</button>
                        </div>
                    </form> 
                </div>
	
            </div>
	    </div>
    
</div>
  
{% endblock %}