{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Code when the searchbar doesn't find anything-->
{%if projects.count == 0 %}
    <h1 class="text-center logo_title">No projects found with that search criteria</h1>
<!--End Code when the searchbar doesn't find anything-->
{% else %}
    <div class="col">
        <div class="row no-gutters justify-content-center align-items-center ">
            <div class="col-3 text-center new_projects_title mt-3 mb-2">
                <h2>Terms & Conditions</h2>
                <p class="subtext">These terms & Conditions are made up, incomplete and exist merely for educational purposes</p>
                <p class="subtext">Some elements were copied from Kickstarter.com</p>
            </div>
        </div>
    </div>

	<div class="row mt-5">
            <div class="col-12 text-center mt-5">
                <h4>Welcome to GrowingFunds!</h4>
            </div>
            <hr class="offset-2 col-8 orange_line">
            <div class="offset-2 col-8">
                <p>
                    This page explains our terms of use. When you use GrowingFunds, you’re agreeing to all the rules below. Some of them need to be expressed in legal language, but we’ve done our best to offer you clear and simple explanations—hence the brief summaries in these blue boxes, which are not part of the official legal terms.
                    By using this website (the “Site”) and services (together with the Site, the “Services”) offered by GrowingFunds, PBC (together with Drip U.S., LLC, The Creative Independent, LLC, and its and their parents, subsidiaries, affiliates, agents, representatives, consultants, employees, officers, and directors—collectively, “GrowingFunds,” “we,” or “us”), you’re agreeing to these legally binding rules (the “Terms”). You’re also agreeing to our Privacy Policy and Cookie Policy, and agreeing to follow any other rules on the Site, like our Community Guidelines and rules for starting projects.
                    We may change these terms from time to time. If we do, we’ll let you know about any material changes, either by notifying you on the Site or by sending you an email. Creators based in the European Union will be notified of material changes at least 15 days before they go into effect. New versions of the terms will never apply retroactively—we’ll tell you the exact date they go into effect. If you keep using GrowingFunds after a change, that means you accept the new terms.
                    GrowingFunds is for your personal, non-commercial use
                </p>
            </div>
            <div class="col-12 text-center mt-5">
                <h4>Things You Definitely Shouldn't Do</h4>
            </div>
            <hr class="offset-2 col-8 orange_line">
            <div class="offset-2 col-8">
                <p>
                    Millions of people use GrowingFunds. We expect all of them to behave responsibly and help keep this a nice place. Don’t do any of these things on the Site:
                </p>
                <ul>
                    <li><b>Don’t break the law.</b> Don’t take any action that infringes or violates other people’s rights, violates the law, or breaches any contract or legal duty you have toward anyone.</li>
                    <li><b>Don’t lie to people.</b> Don’t post information you know is false, misleading, or inaccurate. Don’t do anything deceptive or fraudulent.</li>
                    <li><b>Don’t offer prohibited items.</b> Don’t offer any rewards that are illegal, violate any of GrowingFunds’s policies, rules, or guidelines, or violate any applicable law, statute, ordinance, or regulation.</li>
                    <li><b>Don’t victimize anyone.</b> Don’t do anything threatening, abusive, harassing, defamatory, libelous, tortious, obscene, profane, or invasive of another person’s privacy.</li>
                    <li><b>Don’t spam.</b> Don’t distribute unsolicited or unauthorized advertising or promotional material, or any junk mail, spam, or chain letters. Don’t run mail lists, listservs, or any kind of auto-responder or spam on or through the Site.</li>
                    <li><b>Don’t harm anyone’s computer.</b> Don’t distribute software viruses, or anything else (code, films, programs) designed to interfere with the proper function of any software, hardware, or equipment on the Site (whether it belongs to GrowingFunds or another party).</li>
                    <li><b>Don’t abuse other users’ personal information.</b> When you use GrowingFunds — and especially if you create a successful project — you may receive information about other users, including things like their names, email addresses, and postal addresses. This information is provided for the purpose of participating in a GrowingFunds project: don’t use it for other purposes, and don’t abuse it.</li>
                </ul>
            </div>

	</div>

{% endif %}
{% endblock %}
