{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-12 title text-center">
            <!--Heading-->
            <h1>Payment Successful !</h1>	
		</div>
	</div>
    <div class="row no-gutters">
        <div class="col mx-auto mt-5">
            <div class="col-7 col-xl-6 green_block mx-auto text-center">
                Thank You So Much<br>For Funding Project<br> for $ {{ amount }} !
            </div>
            <p class="text-muted text-center mb-5">Would you like to support more projects? Click <a href="{% url 'get_projects' %}">here</a> to get back to the Home page to see the top-5 projects!</p>
            <div class="col-3 col-xl-2 mx-auto mt-5">
                <img class="coin_image" src="{% static 'img/growing_coins.png' %}">
            </div>

        </div>
    </div>
    
</div>
  
{% endblock %}