{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% load static %}
{% block content %}
<div class="container-fluid">
   <div class="row no-gutters mt-5">
      <div class="col-12 title text-center mt-5">
         <h1>Sign Out</h1>
      </div>
   </div>
   <div class="col-12 text-center">
      <p class="text-muted">{% trans 'Are you sure?' %}</p>
   </div>
   <div class="row no-gutters mt-5 mx-auto">
      <div class="col-12 mx-auto main_div">
         <div class="offset-2 offset-xl-3 col-2 main_coin_image">
            <img class="coin_image" src="{% static 'img/growing_coins.png' %}" alt="GrowingFunds logo">
         </div>
         <div class="col-6 mx-auto  div_form">
            <form method="post" action="{% url 'account_logout' %}">
               {% csrf_token %}
               {% if redirect_field_value %}
               <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
               {% endif %}
               <button class="btn float-right mb-2" type="submit">{% trans 'Sign Out' %}</button>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}