{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="row no-gutters">
    <div class="col-12 title text-center">
      <h1>{% trans "Change Password" %}</h1>
    </div>
  </div>
   <div class="row no-gutters mt-5 mx-auto">
		    <div class="col-12 mx-auto main_div">
              <div class="offset-1 col-2 main_coin_image">
                  <img class="coin_image" src="{% static 'img/growing_coins.png' %}" alt="GrowingFunds logo">
              </div>
              <div class="col-6 mx-auto  div_form">
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="action">{% trans "Change Password" %}</button>
                </form>
              </div>
	
          </div>
	</div>
</div>   


{% endblock %}
