{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="row no-gutters">
    <div class="col-12 title text-center">
        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    </div>
  </div>

  <div class="row no-gutters mt-5 mx-auto">
		    <div class="col-12 mx-auto main_div">
              <div class="offset-1 col-2 main_coin_image">
                  <img class="coin_image" src="{% static 'img/growing_coins.png' %}" alt="GrowingFunds logo">
              </div>
              <div class="col-6 mx-auto  div_form">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p class="text-muted">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn float-right" type="submit" name="action" value="{% trans 'Change Password' %}"/>
                        </form>
                    {% else %}
                        <p class="text-muted">{% trans 'Your password is changed.' %}</p>
                    {% endif %}
                {% endif %}
              </div>
	
          </div>
	</div>
{% endblock %}
