{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	{% block meta %}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% endblock %}
	{% block corecss %}
		<link rel="icon" href="{% static 'img/growing_coins.png' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="{% static 'css/custom.css' %}">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	{% endblock %}
	{% block head_js %}
	{% endblock head_js %}

	<title>Growing Funds</title>
</head>

<body>
<header>
<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-3 col-lg-1 picture-logo">
		<!--The picture as logo with redirect to home-->
			<a href="{% url 'get_projects' %}">
			<img src="{% static 'img/main_logo_small.jpg' %}" alt="logo growing funds">
			</a>
		</div>
		<a href="{% url 'get_projects' %}" class= "col-9 col-lg-11 logo_title">Growing Funds</a>
	</div>
</div>

<!--Main Navigationbar-->
<nav>
	<div class="nav-wrapper">
		{% comment %} DROPDOWN {% endcomment %}
		<!-- SEARCH BOX -->
        <div class="right mr-5">
          <form method="GET" action="" >
            <div class="input-group w-100">
              <input
                class="form-control border-search"
                type="text"
                name="q"
                placeholder="Search Project"
              />
              <div class="input-group-append">
                <button
                  class="form-control"
                  type="submit"
                >
                  <span class="icon">
                    <i class="fas fa-search"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
    	</div>
		{% comment %} DROPDOWN {% endcomment %}
		<div class="dropdown left ml-5">
			<a href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >My Account</a>
			<div class="dropdown-menu border-0" aria-labelledby="user-options">
			    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
			</div>
		</div>
		{% comment %} {% if request.user.is_authenticated %} {% endcomment %}
			<div>
				<a href="{% url 'start_project' %}" class="left ml-5">Start Project</a>
			</div>
		{% comment %} {% endif%} {% endcomment %}
	</div>
</nav>
<!--End Main Navigationbar-->
<!--Category bar-->
<div class="cat-bar">
	<div class="cat-bar-item">Arts</div>
	<div class="cat-bar-item">Charity</div>
	<div class="cat-bar-item">Film</div>
	<div class="cat-bar-item">Food</div>
	<div class="cat-bar-item">Games</div>
	<div class="cat-bar-item">Music</div>
	<div class="cat-bar-item">Publishing</div>
	<div class="cat-bar-item">Technology</div>
</div>
<hr class="bar-end">
<!--End Category bar-->
</header>
<main>
{% block content %}
{% endblock %}
</main>
	{% block corejs %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
        ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
		</script>
		<script src="https://kit.fontawesome.com/059bd5e7b7.js" crossorigin="anonymous"></script>
	{% endblock %}
</body>

</html>