{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<div class="container-fluid">
	<div class="row no-gutters pay-success">
		<div class="col-12 title text-center">
            <!--Heading-->
            <h1>Payment Successful !</h1>	
		</div>
	</div>
    	<div class="row no-gutters">
		    <div class="col-12 mx-auto mt-5">
                <div class="col-6 green_block mx-auto text-center">
                    Thank You So Much<br> For Funding this Project !
                    <img class="coin_image" src="{% static 'img/growing_coins.png' %}">
                </div>
	
            </div>
	    </div>
    
</div>
  
{% endblock %}